<div class="nav nav-pills flex-sm-column">
    {% for k,v in navigation.items %}
        {% if k == "_home" %}
            <div class="nav">
                {% if k in action_clean %}
                    <a class="nav-link active" aria-current="true" href="/">Home</a>
                {% else %}
                    <a class="nav-link" href="/">Home</a>
                {% endif %}
            </div>
        {% else %}

            <div class="nav">
                {% if k in action_clean %}
                    <a class="nav-link active" aria-current="true"
                       href="/{{ k }}/" role="button" >{{ k }}</a>
                {% else %}
                    <a class="nav-link"
                       href="/{{ k }}/" role="button" >{{ k }}</a>
                {% endif %}
            </div>

            {% for item in v %}
                <div class="nav" style="">
                    {% if action_clean == item.url %}
                        &nbsp;<a class="nav-link active" aria-current="true"
                            href="{{ item.url }}">{{ item.label }}</a>
                    {% else %}
                        &nbsp;<a class="nav-link"
                            href="{{ item.url }}">{{ item.label }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
