          {% if form != None %}
          {% include "add-div.html" %}

          <form action="{{ action }}" method="post">
            {% csrf_token %}

          {% if deleting != True %}
            <fieldset>
          {% else  %}
            <fieldset disabled>
          {% endif %}

            <table class="form">
              {{ form.as_table }}
            </table>
            </fieldset>
            <br />
            <fieldset>
          {% if deleting != True %}
          <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
            <input type="submit" value="Save and add another" name="_addanother">
            <input type="submit" value="Save and continue editing" name="_continue">
          </div>
          {% else %}
            <div>
              <b>Are you sure you want to delete this record</b>
              <input type="hidden" name="delete" value="{{ id }}" />
              <input type="submit" value="Delete" />
            </div>
          {% endif %}
            </fieldset>
          </form>

          {% if deleting != True %}
          {% if id != None %}
          <div>
            <br />
            <div style="margin: 2 2;">
              <a href="{{ delete }}">Delete </a> this {{ path.1 }}
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endif %}
