          {% if page_obj != None %}
            {% if action_clean != "/" %}
              {% include "add-div.html" %}
            {% endif %}
          <div>
            <form action="{{ action_clean }}" method="post">
            {% include "index-paginate.html" %}
              {% csrf_token %}
              <input class="hidden" type="submit" name="dummy" value="dummy" style="z-index: -1; display: none;"/>
              <table class="index table table-sm table-hover table-bordered caption-top">
                <caption>List of {{ action_clean }}</caption>
                <thead>
                  {% include "index-name-row.html" %}
                  {% include "index-filter-row.html" %}
                </thead>
                <tbody class="table-group-divider">
                {% for row in data %}
                  {# ------- a data row --------- #}
                  <tr>
                    {% for k,v in row.items %}
                      {% if k == "_" %}
                    <td class="col-sm-auto">{{ v|safe}}</td>
                      {% else %}
                    <td class="col-sm-auto">{{ v|safe}}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot class="table-group-divider">
                  {% include "index-name-row.html" %}
                </tfoot>
              </table>
              {% include "index-paginate2.html" %}

            </form>
          </div>
          {% endif %}
