<div class="pagination row ">

  <div class="col-sm-auto">
    List of {{ action_clean }}
  </div>

  <div class="col-sm-auto">
      {% if action_clean != "/" %}
        {% if updating == True or action_clean != "/" %}
            <a href="/{{ path.0}}/{{path.1}}/add/"> New </a>
        {% else %}
            A new {{ action_clean }}
        {% endif %}
      {% endif %}
  </div>

  <div class="step-links col-sm-auto">
    {% if page_obj.has_previous %}
      <a href="?page=1"> << </a>
    {% else %}
      <<
    {% endif %}
  </div>

  <div class="step-links col-sm-auto">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"> < </a>
    {% else %}
      <
    {% endif %}
  </div>

  <div class="col-sm-auto">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </div>

  <div class="step-links col-sm-auto">
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"> > </a>
  {% else %}
    >
  {% endif %}
  </div>

  <div class="step-links col-sm-auto">
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
  {% else %}
    >>
  {% endif %}
  </div>

  <div class="step-links col-sm-auto">
    perPage:
    <input style="width: 3em;" class="input-filter-text" type="text" name="perPage2" value="{{ perPage }}" id="perPage2" onchange="myFunction()" />
  </div>
</div>
